/* .cruise {
    background-image: url(../img/cruise.webp);
    height: 102px;
    width: 339px;
    background-repeat: repeat;
    position: absolute;
    left: 0;
    top: auto;
    bottom: 15px;
    z-index: 1;
    animation: cruise 90s infinite;
    animation-timing-function: linear;
    animation-direction: normal;
} */

.s5{
    width: 350px;
    height: 350px;
}
.flight {
    height: 55px;
    width: 170px;

   
}
.train {
    height: 60px;
    width: 1400px;
    margin-top: 150px;
    /* background-repeat: repeat;
    position: absolute;
    left: 0;
    top: auto;
    bottom: 93px; */
  
}
.bus {
    height: 60px;

}
.sea{
    width: 100vw;
    height: 200px;
}
.ship{
    margin-top: 50px;
    height: 100px;
}