.header {
    height: 250px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
     position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
  }
  
  .header__logo {
    width: 260px;
    margin: 0 20px;
    margin-top: 10px;
    margin-left: 70px;
  }
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
 .img2{
margin-left: 760px;
width: 200px;
 } 
 
 .img3{
    margin-left: 40px;
    width: 270px;
    height: 120px;
 }
  
  
  .header__optionLineOne {
    font-size: 40px;
    font-weight: 1500;
    margin-top: 25px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item1 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .p2{
    color: rgb(234, 202, 41);
    margin-left: 0px;
  }
  .new1{
    font-size: 40px;
  }
  .header__option1 {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 600px;
    margin-right: 10px;
  }
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.64);
    
  }
  .cad{
    color: red;
    margin-left: 15px;
    margin-top: auto;
  }
  .care1{
    margin-top: 20px;
  }
  .care2{
    margin-top: 20px;
  }
  @media (max-width: 480px){
    .header {
      height: 90px;
      align-items: center;
      background-color: white;
      position: sticky;
      top: 0;
      width: 414px;
    }
    .header__optionLineOne {
      font-size: 11px;
      font-weight: 1000
    }
    
    .header__optionLineTwo {
      font-size: 05px;
      font-weight: 80;
    }
      
  .header__logo {
    width: 150px;
    margin: 0 20px;
    margin-top: 20px;
    margin-left: 10px;
  }
    .p2{
      color: rgb(234, 202, 41);
      margin-left: 0px;
    }
    .new1{
      font-size: 20px;
    }
    .header__option1 {
      display: flex;
      flex-direction: column;
      color: darkgoldenrod;
      margin-left: 10px;
      margin-right: 10px;
    }
    .header__option {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      color: darkgoldenrod;
    }
    .cad{
      color: red;
      margin-left: 15px;
      margin-top: auto;
    }
    .care1{
      margin-top: 20px;
    }
    .care2{
      margin-top: 20px;
    }
  }