/* .cruise {
    background-image: url(../img/cruise.webp);
    height: 102px;
    width: 339px;
    background-repeat: repeat;
    position: absolute;
    left: 0;
    top: auto;
    bottom: 15px;
    z-index: 1;
    animation: cruise 90s infinite;
    animation-timing-function: linear;
    animation-direction: normal;
} */
.tourism-view {
    background-image: url(./img/tourism-view.webp);
    height: 350px;
    width: 100%;
    background-repeat: repeat;
    animation: bannerbg 120s infinite linear;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 1;
    animation-timing-function: linear;
    animation-direction: reverse;
}
.s5{
    width: 350px;
    height: 350px;
}
.flight {
    height: 55px;
    width: 170px;

   
}
.train {
    height: 60px;
    width: 1644px;
    margin-top: 150px;
    /* background-repeat: repeat;
    position: absolute;
    left: 0;
    top: auto;
    bottom: 93px; */
  
}
.bus {
    height: 50px;
}
.sea{
    width: 100vw;
    height: 200px;
}
.ship{
    margin-top: 50px;
}